<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<head>
<meta charset="utf-8">
<title>Ajout des Categories</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container mt-5">
<div class="card">
<div class="card-header"> Ajout des Categories </div>
<div class="card-body">
 <form th:action="@{saveCategorie}" method="post">
 <div class="form-group">
<label class="control-label">Nom Categorie :</label>
<input type="text" name="nomCat" class="form-control" />
 </div>
 <div class="form-group">
<label class="control-label">Description :</label>
<input type="text" name="descriptionCat" class="form-control" />
 </div>
 
 <div class="form-group">
    <label for="produits">Produits :</label>
    <select id="produits" name="produits" multiple>
        <option th:each="produit : ${produits}" th:value="${produit.idProduit}" th:text="${produit.nomProduit}"></option>
    </select>
</div>
 <div>
 <button type="submit" class="btn btn-primary">Valider</button>
 </div>
 </form>
</div>
 </div>
 </div>
 </div>
</body>
</html>




